<footer class="footer">
    <div class="social">
      <a href="https://www.facebook.com" title="Facebook"><i class="fab fa-facebook-f"></i></a>
      <a href="https://twitter.com" title="Twitter"><i class="fab fa-twitter"></i></a>
      <a href="https://www.instagram.com" title="Instagram"><i class="fab fa-instagram"></i></a>
      <a href="https://www.linkedin.com" title="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
    </div>
    <div class="copyright">
      &copy; <%= new Date().getFullYear() %> Sahil Kavatkar. All rights reserved.
    </div>
  </footer>